h1= title
p Welcome to #{title}
ul
- each question in questions
	li= question.body
	| Asked by #{question.author} on #{question.date}. Answers: #{question.answers.length}. Votes: #{question.votes}. 
	- if(question.tags.length > 0) 
		| Tags: [ 
		- each tag in question.tags.sort()
			a(href='/tags/#{tag}')= tag 
			\ 
		]
	- else
		| (No tags)
		
